
/* 注册表单 */
.main{
    position: relative;
    /* top: 82px; */
    width: 100%;
    min-height: 553px;

}
.main>a{
    width: 100%;
    height: 100%;
    display: block;
}
.form-box{
    
    left: 50%;
    margin: 90px 0 0 115px;
    position: absolute;
    top: 0;
    width: 378px;
    
    z-index: 1;
    background:#fff;
}
.form-box form {
    display: block;
}
.form-box form>ul{
    border-bottom: 1px solid #f3f3f3;
    margin: 24px 15px 0 15px;
    height: 40px;
}
.form-box form>ul>li:nth-of-type(1){
    background: #f3f3f3;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
    margin-left: 53px;
    margin-right: 5px;
}
.form-box form>ul>li a{
    color: #333;
}
.form-box form>ul>li:nth-of-type(2){
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
    background: #333;
}
.form-box form>ul>li:nth-of-type(2) a{
    color: #fff;
}
.textBox{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.textBox div{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.textBox div:nth-of-type(3){
    display: inline-block;
}
.textBox div:nth-of-type(3) label{
   margin-left: 15px;
}
.textBox div:nth-of-type(3) input{
    width: 100px;
    height: 30px;
}
.textBox div:nth-of-type(3) p{
    padding-top: 4px;
    float: right;
    display: flex;
    flex-direction: column;
    width: 80px;
}
.textBox div:nth-of-type(3) p a{
    text-align: center;
    color: grey;
}
.textBox label{
    
    flex: 3;
    text-align: right;
    font-size: 14px;
    line-height: 36px;
}
.textBox input{
    flex: 8;
    height: 30px;
   
}
.textBox p{
    width: 100%;
    font-size: 12px;
    color: #333;
    margin: 0;
    text-align: left;
}
.textBox p a{
    color: red;
}
.textBox .btn{
    outline: none;
    border: none;
    margin-top: 20px;
    width: 100%;border: none;
    border-radius: 10px;
    color: white;
    background: #333;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

